# Grafana Datasource Configuration for Prometheus
# Version: 1.0.0
# Date: 2025-11-17

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    editable: true
