apiVersion: v1
kind: Service
metadata:
  name: weather-service
  namespace: ntn-oran
  labels:
    app: weather-service
    component: external-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8083"
spec:
  type: ClusterIP
  selector:
    app: weather-service
  ports:
  - name: http
    port: 8083
    targetPort: 8083
    protocol: TCP
  sessionAffinity: None
