apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: ntn-oran
  labels:
    app: prometheus
    component: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
spec:
  type: NodePort
  selector:
    app: prometheus
  ports:
  - name: http
    port: 9090
    targetPort: 9090
    nodePort: 30090
    protocol: TCP
  sessionAffinity: None
