apiVersion: v1
kind: Service
metadata:
  name: grafana-service
  namespace: ntn-oran
  labels:
    app: grafana
    component: monitoring
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
  - name: http
    port: 3000
    targetPort: 3000
    nodePort: 30300
    protocol: TCP
  sessionAffinity: None
